---
layout: index
title: Home
---

<h1>Resources For...</h1>

<h2>Everyone</h2>
<ul>
  {% for resource in site.everyone_resources %}
  <h3>
    <a href="{{ resource.url }}">
      {{ resource.title }}
    </a>
  </h3>
  {% endfor %}
</ul>

<h2>Developers</h2>
<ul>
  {% for resource in site.developer_resources %}
  <h3>
    <a href="{{ resource.url }}">
      {{ resource.title }}
    </a>
  </h3>
  {% endfor %}
</ul>

<h2>Product</h2>
<ul>
  {% for resource in site.product_resources %}
  <h3>
    <a href="{{ resource.url }}">
      {{ resource.title }}
    </a>
  </h3>
  {% endfor %}
</ul>
